@import url('./tailwind.preflight.css');

.input {
  padding: theme("margin.1");
  border: 1px solid theme("colors.blue.600");
  border-radius: theme("borderRadius.md")
}

.btn-primary {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: theme("padding[1.5]") theme("padding[0.5]");
  color: theme("colors.white");
  background-color: theme("colors.blue.600");
  border-radius: theme("borderRadius.md");
  border: none;
  transition: background-color 0.2s ease-in;
  flex-grow: 1;
}

.btn-primary:hover {
  background-color: theme("colors.blue.700");
}

.btn-primary:disabled:hover {
  cursor: not-allowed;
}

.btn-primary:disabled {
  background-color: theme("colors.gray.300");
  color: theme("colors.gray.500");
}
